{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	|destination
{% endblock %}

{% block body %}

	<section class="destination_page">

		<h1 class="titledestination">Découvrez les
			<span>{{ destination.titre }}</span>
		</h1>
		<p>{{ destination.description }}</p>.</p>

	{% for conseiller in destination.conseillers %}

		{% if conseiller.referent == true %}

		<div class="row">
			<div class="col-3">
				<img class="conseiller_ref" src="{{ asset('images/conseiller/'~ conseiller.photo) }}" class="img-fluid rounded-start" alt="..."></div>
			<div class="col-9">
				<h5 class="card-title">Les conseils de notre expert {{ conseiller.nom }} !</h5>
				<p class="card-text">{{ conseiller.description }}</p>
			</div>
		</div>
		{% endif %}

	{% endfor %}

	<h5>Nos Itinéraires</h5>
	<div
		class="row parent row-cols-1 row-cols-md-3 g-4">
		{# ==================CARD============================= #}

{% for produit in destination.produits %} 
	


		<div class="col-4 mx-auto card__conseiller">
			<a href="#">
				<div class=" ">
					<img class="ref__etape" src="{{ asset('images/produit/'~ produit.photo) }}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="card-body">
					<h5 class="card-title">Les produit {{ produit.titre }} !</h5>
					<p class="card-text">{{ produit.description }}</p>
					<p class="card-text">{{ produit.prix}}</p>
				</div>
			</a>
		</div>
{% endfor %}

    
     
		 
	</div>

</section>{% endblock %}
